<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Gestión de Residentes</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body class="d-flex flex-column min-vh-100">
	<nav th:replace="~{/fragmentos/menu::navbar}"></nav>
	<div class="container py-5">
		<h1 class="mb-4">Gestión de Residentes</h1>

	  <!-- Formulario para agregar residente -->
	  	<div class="col-md-10">
		  <form th:action="@{/residentes/agregar}" method="post" th:object="${residente}" class="row g-3">
		    
		    <div class="col-md-6">
		      <label class="form-label">Nombre</label>
		      <input type="text" th:field="*{nombre}" class="form-control" placeholder="Nombre" maxlength="65">
		    </div>
		    
		    <div class="col-md-6">
		      <label class="form-label">Apellido</label>
		      <input type="text" th:field="*{apellido}" class="form-control" placeholder="Apellido" maxlength="120" required>
		    </div>
			
			<div class="col-md-6">
				<label class="form-label">URL foto perfil</label>
				<input type="text" th:field="*{urlFoto}" class="form-control" placeholder="URL foto" required>
			</div>
		
		    <div class="col-md-4">
		      <label class="form-label">Fecha de nacimiento</label>
		      <input type="date" th:field="*{fechaNacimiento}" class="form-control" placeholder="Fecha de nacimiento" required>
			  <div th:if="${errorEdad}" class="alert alert-danger">
			      <p th:text="${errorEdad}"></p>
			  </div>
		    </div>
		    
		    <div class="col-md-4">
		      <label class="form-label">DNI</label>
		      <input type="text" th:field="*{dni}" class="form-control" placeholder="DNI/NIE" pattern="^([0-9]{8}[A-Za-z]|[XYZ][0-9]{7}[A-Za-z])$" title="Debe ser un DNI (8 números + letra) o NIE (empieza por X, Y o Z seguido de 7 números y una letra)" required>
			  <div class="text-danger" th:if="${#fields.hasErrors('fechaNacimiento')}" th:errors="*{fechaNacimiento}"></div>
		  	</div>
		
		    <div class="col-md-4">
		      <label class="form-label">Nombre del Familiar</label>
		      <input type="text" th:field="*{nombreFamiliar}" class="form-control" placeholder="Nombre de Familiar" maxlength="120">
		    </div>
	
		    <div class="col-md-6">
		      <label class="form-label">Plan</label>
		      <select name="plan" id="plan" class="form-select" required>
		        <option value="">Seleccionar plan</option>
		        <option th:each="p : ${planes}" th:value="${p.id}" th:text="${p.tipo}"></option>
		      </select>
		    </div>
		
		    <div class="col-md-6 d-flex align-items-end">
		      <button type="submit" class="btn btn-primary w-60">Agregar</button>
			  <div th:if="${errorDni}" class="alert alert-danger">
			      <p th:text="${errorDni}"></p>
			  </div>
		    </div>
			
		  </form>
	  	</div>
		<div class="col-md-12 my-4">
		  <a th:href="@{/informes}" class="btn btn-secondary">Ver Informes</a>
		</div>
		
		<!-- Tabla de residentes -->
		<table class="table table-bordered text-center align-middle">
		  <thead class="table-light">
		    <tr>
		      <th style="width: 140px;">Foto Residente</th>
		      <th>
		        <a th:href="@{/residentes(campo='nombre', direccion='asc')}">Nombre ↑</a> |
		        <a th:href="@{/residentes(campo='nombre', direccion='desc')}">↓</a>
		      </th>
		      <th>
		        <a th:href="@{/residentes(campo='apellido', direccion='asc')}">Apellidos ↑</a> |
		        <a th:href="@{/residentes(campo='apellido', direccion='desc')}">↓</a>
		      </th>
		      <th>
		        <a th:href="@{/residentes(campo='fechaNacimiento', direccion='asc')}">Nacimiento ↑</a> |
		        <a th:href="@{/residentes(campo='fechaNacimiento', direccion='desc')}">↓</a>
		      </th>
		      <th>Plan</th>
		      <th>Acciones</th>
		    </tr>
		  </thead>
		  <tbody>
		    <!-- Mostrar todos los residentes -->
		    <tr th:each="r : ${residentes}">
		      <td>
		        <img th:src="${r.urlFoto}" th:alt="${r.nombre}" class="d-block mx-auto"
		             style="max-width: 100%; max-height: 60px; object-fit: contain;">
		      </td>
		      <td th:text="${r.nombre}">Nombre</td>
		      <td th:text="${r.apellido}">Apellidos</td>
		      <td th:text="${r.fechaNacimiento}">Fecha de Nacimiento</td>
		      <td th:text="${r.plan.tipo}">Plan</td>
		      <td>
		        <div class="d-flex gap-2 justify-content-center">
		          <a th:href="@{'/residentes/editar/' + ${r.id}}" class="btn btn-sm btn-warning">Editar</a>
		          <form th:action="@{'/residentes/eliminar/' + ${r.id}}" method="post">
		            <button type="submit" class="btn btn-sm btn-danger">Eliminar</button>
		          </form>
		        </div>
		      </td>
		    </tr>
		  </tbody>
		</table>
	</div>
	<footer th:replace="~{/fragmentos/pie::footer}"></footer>
</body>
</html>
