<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Gestión de Residentes</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
	<nav th:replace="~{/fragmentos/menu::navbar}"></nav>
	<div class="container py-5">
		<h1 class="mb-4">Gestión de Residentes</h1>

	  <!-- Formulario para agregar residente -->
	  	<div class="col-md-10">
		  <form th:action="@{/residentes/agregar}" method="post" th:object="${residente}" class="row g-3">
		    
		    <div class="col-md-6">
		      <label class="form-label">Nombre</label>
		      <input type="text" th:field="*{nombre}" class="form-control" placeholder="Nombre" required>
		    </div>
		    
		    <div class="col-md-6">
		      <label class="form-label">Apellido</label>
		      <input type="text" th:field="*{apellido}" class="form-control" placeholder="Apellido" required>
		    </div>
		
		    <div class="col-md-4">
		      <label class="form-label">Edad</label>
		      <input type="number" th:field="*{edad}" class="form-control" placeholder="Edad" min="70" max= "120" required>
		    </div>
		    
		    <div class="col-md-4">
		      <label class="form-label">DNI</label>
		      <input type="text" th:field="*{dni}" class="form-control" placeholder="DNI" required>
		    </div>
		
		    <div class="col-md-4">
		      <label class="form-label">Nombre del Familiar</label>
		      <input type="text" th:field="*{nombreFamiliar}" class="form-control" placeholder="Nombre de Familiar" required>
		    </div>
	
		    <div class="col-md-6">
		      <label class="form-label">Plan</label>
		      <select name="plan" id="plan" class="form-select" required>
		        <option value="">Seleccionar plan</option>
		        <option th:each="p : ${planes}" th:value="${p.id}" th:text="${p.tipo}"></option>
		      </select>
		    </div>
		
		    <div class="col-md-6 d-flex align-items-end">
		      <button type="submit" class="btn btn-primary w-60">Agregar</button>
		    </div>
			
		  </form>
	  	</div>
	  	<!-- Tabla de residentes -->
		  <table class="table table-bordered">
		    <thead class="table-light">
		      <tr>
		        <th>Nombre</th>
				<th>Apellidos</th>
				<th>Edad</th>
		        <th>Plan</th>
		        <th>Acciones</th>
		      </tr>
		    </thead>
		    <tbody>
		      <!-- Mostrar todos los residentes -->
		      <tr th:each="r : ${residentes}">
		        <td th:text="${r.nombre}">Nombre</td>
				<td th:text="${r.apellido}">Apellidos</td>
				<td th:text="${r.edad}">Edad</td>
		        <td th:text="${r.plan.tipo}">Plan</td>
		        <td>
		          <div class="d-flex gap-2">
		            <a th:href="@{'/residentes/editar/' + ${r.id}}" class="btn btn-sm btn-warning">Editar</a>
		            <form th:action="@{'/residentes/eliminar/' + ${r.id}}" method="post">
		              <button type="submit" class="btn btn-sm btn-danger">Eliminar</button>
		            </form>
		          </div>
		        </td>
		      </tr>
		    </tbody>
		</table>
	</div>
	<footer th:replace="~{/fragmentos/pie::footer}"></footer>
</body>
</html>
